<hr />

<div *ngIf="!(logged$ | async)">
  <span>No user logged</span>
  <br />
  <br />
  <img width="45px" height="45px" [src]="'assets/img/users/no-user.png'" />
</div>
<div *ngIf="logged$ | async">
  <span>Hi, {{ userName$ | async }}.</span>
  <br />
  <br />
  <img
    width="45px"
    height="45px"
    [src]="'assets/img/users/' + (userPhotoUrl$ | async)"
  />
</div>

<br />
<hr />

<input #usernameInput type="text" [disabled]="logged$ | async" />

<button
  style="margin-left: 5px"
  (click)="login(usernameInput.value); usernameInput.value = ''"
  [disabled]="logged$ | async"
>
  LOGIN
</button>

<button
  style="margin-left: 5px"
  (click)="logout(); usernameInput.value = ''"
  [disabled]="!(logged$ | async)"
>
  LOGOUT
</button>

<br />
<hr />

<span style="margin-right: 5px"
  >Books count: {{ (books$ | async)?.length }}</span
>

<button (click)="loadBooks()" [disabled]="!(logged$ | async)">LOAD</button>

<br />
<hr />
